body, html {
    height: 100%;
    margin: 0;
}

.container {
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table {
    margin-top: 20px;
}

.btn-link {
    text-decoration: none;
    color: #007bff;
}

.btn-link:hover {
    text-decoration: underline;
}
